{% extends 'base.html' %}

{% block title %}Список игр{% endblock %}

{% block content %}
<h1>Список игр</h1>

<a href="{% url 'game_create' %}" class="btn btn-success mb-3">Добавить игру</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Время начала</th>
            <th>Место проведения</th>
            <th>Общее количество игроков</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.id }}</td>
            <td>{{ game.date|date:"d.m.Y" }}</td>
            <td>{{ game.start_time|time:"H:i" }}</td>
            <td>{{ game.location }}</td>
            <td>{{ game.get_total_players_count }}</td>
            <td>{{ game.get_status_display }}</td>
            <td>
                <a href="{% url 'game_detail' game.id %}" class="btn btn-info btn-sm">Просмотр</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center">Игры не найдены</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
